.subTitleAudi{
    font-size: 18px;
    color: #EF9797;
    font-weight: 700;
    padding: 10px 0;
}
.titleAudi{
    font-size: 52px;
    color: #EF9797;
    font-weight: 700;
    line-height: 1.02em;
    padding: 5px 0;
}
.descAUDI{
    font-size: 18px;
    font-weight: 600;
    color: #EF9797;
    padding: 20px 0;
}
.audiImg{
    padding-top: 20px;
    img:nth-last-child(1){
        padding-left: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .titleAudi{
        font-size: 32px;
    }
    .subTitleAudi{
        font-size: 12px;
    }
    .descAUDI{
        font-size: 12px;
    }
}